#### Домашнаее задание 6

Задача 1

In [138]:
import pandas as pd

In [139]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [140]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [141]:
def geopos(row):
    geo_loc='undefined'
    for key in geo_data.keys():
        for i in range(len(geo_data[key])):
            if geo_data[key][i] in row['keyword']:
                geo_loc=key
    return geo_loc

In [142]:
data['geo'] = data.apply(geopos, axis=1)
data['geo'].value_counts()

undefined         99253
Центр               385
Северо-Запад        268
Дальний Восток       94
Name: geo, dtype: int64

In [143]:
data.sort_values('geo', ascending=False).head()

                      keyword  shows    geo
6999                москва 24  37459  Центр
19120          avto ru москва  15992  Центр
73226  фанатик спартак москва   5353  Центр
68005        гостиница москва   5651  Центр
7090       гисметео ярославль  37008  Центр

Задача 2

In [144]:
data = pd.read_csv('ml-latest-small/ratings.csv')

In [145]:
data=data.groupby('movieId').mean()

In [146]:
def movie_class(row):
    if row['rating']<=2:
        movie_class_i='Низкий рейтинг'
    if row['rating']<=4:
        movie_class_i='Средний рейтинг'
    else:
        movie_class_i='Высокий рейтинг'
    return movie_class_i

In [147]:
data['movie_class'] = data.apply(movie_class, axis=1)
data.sort_values('movie_class').head()

             userId    rating     timestamp      movie_class
movieId
163949   547.000000  5.000000  1.476419e+09  Высокий рейтинг
86817    599.000000  5.000000  1.344135e+09  Высокий рейтинг
26505    547.000000  4.500000  1.261380e+09  Высокий рейтинг
26501    547.000000  5.000000  1.249033e+09  Высокий рейтинг
4821     329.333333  4.333333  1.104783e+09  Высокий рейтинг

Задача 3