# Вспомним работу с файлами

Дан лог покупок transactions.tsv.

Первый столбец - дата покупки, второй - сумма. Разделитель табуляция.

Необходимо посчитать:

1. Сумму покупок за все дни

2. Среднюю стоимость одной покупки

3. В какой день была максимальная выручка?

In [13]:
with open('transactions.tsv', 'r') as f:
    for line in f:
        date, amount = line.strip().split('\t')
        print(date, amount)

2019-01-01 78
2019-01-01 7
2019-01-01 67
2019-01-01 45
2019-01-01 26
2019-01-01 3
2019-01-01 18
2019-01-01 84
2019-01-01 46
2019-01-02 15
2019-01-02 67
2019-01-02 12
2019-01-02 18
2019-01-02 92
2019-01-02 38
2019-01-02 51
2019-01-02 52
2019-01-02 12
2019-01-03 59
2019-01-03 53
2019-01-03 52
2019-01-03 12
2019-01-03 56
2019-01-03 38
2019-01-03 81
2019-01-03 6
2019-01-03 35
2019-01-04 67
2019-01-04 63
2019-01-04 92
2019-01-04 34
2019-01-04 14
2019-01-04 85
2019-01-04 51
2019-01-04 81
2019-01-04 50
2019-01-05 11
2019-01-05 97
2019-01-05 84
2019-01-05 69
2019-01-05 93
2019-01-05 31
2019-01-05 4
2019-01-05 8
2019-01-05 43
2019-01-06 93
2019-01-06 94
2019-01-06 93
2019-01-06 58
2019-01-06 55
2019-01-06 96
2019-01-06 13
2019-01-06 3
2019-01-06 72
2019-01-07 37
2019-01-07 78
2019-01-07 27
2019-01-07 11
2019-01-07 85
2019-01-07 16
2019-01-07 13
2019-01-07 10
2019-01-07 34

# Даты

In [14]:
from datetime import datetime

In [15]:
date_string = '09.05.2018  09:00'

In [16]:
# сейчас date_string это просто строка
type(date_string)

str

In [17]:
# https://docs.python.org/3/library/datetime.html

date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M' )
date_datetime

datetime.datetime(2018, 5, 9, 9, 0)

In [18]:
# теперь можем работать с датами
type(date_datetime)

datetime.datetime

In [19]:
date_datetime.year, date_datetime.hour

(2018, 9)

### Упражнение
С помощью метода datetime.strptime переведите строку 'May 25 2017 5:00AM' в формат datetime.

In [40]:
date_datetime = datetime.strptime( 'May 25 2017 5:00:30PM', '%B %d %Y %I:%M:%S%p' )
date_datetime

datetime.datetime(2017, 5, 25, 17, 0, 30)

### Прибавление интервала к датам

In [32]:
from datetime import timedelta

In [33]:
start_date = '2018-01-01'
end_date = '2018-01-07'

In [34]:
type(start_date)

str

In [35]:
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
start_date_datetime

datetime.datetime(2018, 1, 1, 0, 0)

In [36]:
start_date_datetime + timedelta(days=1)

datetime.datetime(2018, 1, 2, 0, 0)

### Упражнение
Дана дата в формате '2018-09-01T09:30:00'. Прибавьте к ней 12 часов 15минут и 3 секунды.

In [47]:
date_datetime = datetime.strptime( '2018-09-01T09:30:00', '%Y-%m-%dT%H:%M:%S' )
date_datetime +  timedelta(hours = 12, minutes = 15, seconds = 3)

datetime.datetime(2018, 9, 1, 21, 45, 3)

### Перевод обратно в строку

In [48]:
date = datetime(2018, 9, 1)
date

datetime.datetime(2018, 9, 1, 0, 0)

In [49]:
date.strftime('%Y-%m-%d')

'2018-09-01'

In [50]:
# внезапно

date.strftime('%Y-%m-01')

'2018-09-01'

In [51]:
start_date, end_date

('2018-01-01', '2018-01-07')

In [52]:
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

In [53]:
current_dt = start_date_dt

while current_dt <= end_date_dt:
    print(current_dt.strftime('%Y-%m-%d'))
    
    current_dt += timedelta(days=1)

2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07

### Упражнение
Напишите алгоритм, который "пробегает" период 1 до 7 сентября по часам. Формат вывода '06.01.2018 23:00:00'.

### Нагрузка на систему по часам

In [62]:
stats = {}

with open('logs.csv', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        break
        # вычисления нагрузки на систему...
        
# результат
stats

2018-04-30T21:37:41Z

{}

In [58]:
# а в процентном соотношении?

###  Unixtime

In [ ]:
import time
from datetime import date
from datetime import datetime

In [ ]:
d = date(2018, 9, 1)

unixtime = time.mktime(d.timetuple())
unixtime

In [ ]:
from datetime import datetime

In [ ]:
datetime.fromtimestamp(1535844129)

# Обработка ошибок

In [ ]:
some_num = '123'

In [ ]:
float(some_num)

In [ ]:
ups = '123a'

In [ ]:
float(ups)

In [ ]:
try:
    float(ups)

except Exception as e:
    print(e)
    
print('Проехали')

In [ ]:
ups = '123fff'

In [ ]:
# полная версия traceback
import traceback

try:
    float(ups)

except Exception:
    print(traceback.print_exc())
    
print('Проехали')

### Более жизненный пример

In [ ]:
with open('real_data.txt', 'r') as f:
    for line in f:
        print(line.strip())

In [ ]:
import logging

Чем прекрасен этот файл:
1. Даты имеют разный формат: за 8 и 9 октября формат с "09.10.2016 21:40" сменился на "09.10.2016T 21:40:00" (добавилась буква T и секунды). Разработчики объяснили этот тем, что сбились настройки в базе данных.
2. У покупок некоторых пользователей неизвестно значение выручки, из-за чего количество столбцов в строке уменьшается на один.
3. У некоторых строк реальная сумма покупки умножена на миллион. Так иногда действительно делают, чтобы избежать дробных чисел и работать только с целыми. Разработчикам просто так удобнее.

In [ ]:
def make_datetime_normal(dt):
    """Перевод даты покупки в формат %Y-%m-%d"""
    
    date_datetime = datetime.strptime(dt, '%d.%m.%y %H:%M')
    return date_datetime.strftime('%Y-%m-%d')

In [ ]:
make_datetime_normal('05.10.16 23:18')

In [ ]:
make_datetime_normal('08.10.2016T 16:46:00')

### Упражнение
Создайте словарь stats = {'monday': 100, 'tuesday': 200}. 

Какой тип ошибки вызовет обращение stats['wednesday']?

In [ ]:
stats = {'monday': 100, 'tuesday': 200}

In [ ]:
def make_datetime_normal(date_string):
    """Перевод даты покупки в формат %Y-%m-%d"""

    try:
        # пробуем расшифровать дату в формате '%d.%m.%Y %H:%M'
        date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')

    except ValueError:

        # пробуем расшифровать дату в формате '%d.%m.%YT %H:%M:%S'
        try:
            date_datetime = datetime.strptime(date_string, '%d.%m.%YT %H:%M:%S')

        except:
            print('Warning! bad line')
            # ни один из известных форматов не подошел, возвращаем 'undefined'
            return 'undefined'

    return date_datetime.strftime('%Y-%m-%d')

In [ ]:
make_datetime_normal('05.10.2016 23:18')

In [ ]:
make_datetime_normal('08.10.2016T 16:46:00')

In [ ]:
make_datetime_normal('08.10.2016T16:46:00Z')

### Упражнение
Посчитайте сумму третьего столбца с файле real_data.txt. Считайте, что если значение больше 1000, значит оно было умножено на миллион.

# YAML-формат
Неочевидные приемы https://habr.com/post/270097/

In [ ]:
!pip install pyyaml

In [ ]:
from yaml import load

In [ ]:
config = load( open('config.yaml') )
config

In [ ]:
config['accounts']['vk']['password']

In [ ]:
config['cities']

In [ ]:
list_of_cities = config['cities']
list_of_cities

In [ ]:
config['accounts']

In [ ]:
vk_username = config['accounts']['vk']['username']
vk_username

In [ ]:
for city in config['cities']:
    print(city)

### Упражнение
Вам необходимо написать YAML-файл с параметрами для выгрузки данных. Как бы вы организовали такой файл?

1. Выгрузка происходит из нескольких систем (vk, mytarget, dbm).

2. У каждой системы есть несколько аккаунтов (account1, account2, ...). 

3. Для выгрузки данных из каждого аккаунта есть своя пара ключей приложения client_id и client_secret.

4. Также у каждого аккаунта есть набор клиентов (client1, client2, ...), у каждого из которых есть свой логин и refresh_token.